{% extends "base.html" %}

{% block content %}

<h2>New Run</h2>

<form method="POST">
    {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
    {% endfor %}

    {% for field in form.visible_fields %}
        <div class="form-filter">
            {{ field.label_tag }} {{ field }}
            <div class="errors">
                {% for error in field.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            </div>
        </div>

    {% endfor %}
    <button type="submit">Save</button>
</form>

{% endblock content %}