{% extends 'base.html' %}
{% load event_tags %}
{% block content %}



<h2>{{ event.name }}</h2>

<table>
    <tr>
        <th>{{ event.host }}</th><th>{{ event.location }}</th><th>{{ event.category }}</th>
    </tr>
</table>

<div class="main-image">
    {% if event|has:'main_image' %}
    <img src="{{ event.main_image.url }}">
    {% else %}
    <div class="not-available"></div>
    {% endif %}
</div>

<p>{{ event.description }}</p>

<a href="{% url 'events:update_event' event.slug %}">UPDATE</a>
<a href="{% url 'events:delete_event' event.slug %}">DELETE</a>

<hr>

<div class="owl-carousel">
{% for image in event.album.image_set.all %}
<img src="{{ image.image.url }}" alt="{{ image.title }}">
{% endfor %}
</div>

<h2>Availability</h2>

<table>
    <th>DATE</th><th>SEATS</th><th>PRICE</th>
{% for run in runs %}
 <tr>
      <td>{{ run.date }}, {{ run.time }}</td>
      <td>{{ run.seats_available }}</td>
      <td>{{ run.price }}</td>
      <td><a href="{% url 'events:update_event_run' event.slug run.pk%}">CHANGE</a></td>
      <td><a href="{% url 'events:delete_event_run' run.pk%}">DELETE</a></td>
 </tr>
{% endfor %}
</table>

<br>

<a href="/events/">Back</a> | <a href="{% url 'events:create_event_run' event.slug %}">Add New</a>
{% endblock content %}