{% extends 'base.html' %}

{% block title %}
<title>Event Listing</title>
{% endblock title %}

{% block content %}
    <table style="text-align:center;">

        <tr>
            <th>NAME</th><th>LOCATION</th>
        </tr>

    {% for event in events %}
        <tr>
            <td><a href="{% url 'events:detail' event.id %}">{{ event.name }}</a></td>
        <td> {{ event.location}}</td>
            <td><a href="{% url 'events:update_event' event.id %}">UPDATE</a></td>
        </tr>
    {% endfor %}

    </table>

{% endblock content %}