{% extends 'base.html' %}

{% block content %}

<h2>{{ event.name }}</h2>

<table>
    <tr>
        <th>{{ event.host }}</th><th>{{ event.location }}</th><th>{{ event.category }}</th>
    </tr>
</table>


<p>{{ event.description }}</p>

<a href="/events/update/{{ event.id }}">UPDATE</a>

<hr>

<h2>Availability</h2>

<table>
    <th>DATE</th><th>SEATS</th><th>PRICE</th>
{% for run in runs %}
 <tr>
      <td>{{ run.date }}, {{ run.time }}</td>
      <td>{{ run.seats_available }}</td>
      <td>{{ run.price }}</td>
      <td><a href="/events/updateRun/{{ run.id }}">CHANGE</a></td>
      <td><a href="/events/deleteRun/{{ run.id }}">DELETE</a></td>
 </tr>
{% endfor %}
</table>

<br>

<a href="/events/">Back</a> | <a href="/events/{{ event.id }}/newRun/">Add New</a>
{% endblock content %}